In [1]:
#setting up the DB
from sqlalchemy import create_engine
engine = create_engine('sqlite:///../data/nobel_prize.db', echo=True) # where is db


from sqlalchemy.ext.declarative import declarative_base #This you have to declare your own schemas like NoSQL and MongoDB
Base = declarative_base()
from sqlalchemy import Column, Integer, String, Enum

class winnerTable(Base): #a child class of Base object
    __tablename__ = 'winner'
    
    #defining the columns
    id = Column(Integer, primary_key=True) 
    category = Column(String)
    name = Column(String)
    nationality = Column(String)
    sex = Column(Enum('male','female'))
    year = Column(Integer)
    
    def __repr__(self):
        return "<winnerTable(name='%s',nationaliy ='%s', year='%d', sex='%s')" %(self.name, self.category, self.year, self.sex)

Base.metadata.create_all(engine)

2018-10-24 17:14:47,188 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2018-10-24 17:14:47,193 INFO sqlalchemy.engine.base.Engine ()
2018-10-24 17:14:47,195 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2018-10-24 17:14:47,196 INFO sqlalchemy.engine.base.Engine ()
2018-10-24 17:14:47,197 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("winner")
2018-10-24 17:14:47,198 INFO sqlalchemy.engine.base.Engine ()

In [6]:
#parsing json to a DB

from sqlalchemy.orm import sessionmaker
Session = sessionmaker(bind=engine)
session = Session()

import json
with open('../data/nobel_winners.json') as jsonfile:
    reader = json.load(jsonfile)
    for row in reader:
        session.add(winnerTable(**row)) #double stars important, unpacks data
    session.commit()

2018-10-24 17:15:35,608 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-10-24 17:15:35,609 INFO sqlalchemy.engine.base.Engine INSERT INTO winner (category, name, nationality, sex, year) VALUES (?, ?, ?, ?, ?)
2018-10-24 17:15:35,610 INFO sqlalchemy.engine.base.Engine ('A', 'A name', 'A nation', 'male', 1)
2018-10-24 17:15:35,612 INFO sqlalchemy.engine.base.Engine INSERT INTO winner (category, name, nationality, sex, year) VALUES (?, ?, ?, ?, ?)
2018-10-24 17:15:35,613 INFO sqlalchemy.engine.base.Engine ('B', 'B name', 'B nation', 'female', 2)
2018-10-24 17:15:35,614 INFO sqlalchemy.engine.base.Engine INSERT INTO winner (category, name, nationality, sex, year) VALUES (?, ?, ?, ?, ?)
2018-10-24 17:15:35,616 INFO sqlalchemy.engine.base.Engine ('C', 'C name', 'C nation', 'male', 3)
2018-10-24 17:15:35,620 INFO sqlalchemy.engine.base.Engine COMMIT

In [15]:
session.query(winnerTable).count()

result = session.query(winnerTable).filter(winnerTable.nationality != 'A nation')
list(result)

2018-10-24 17:18:05,366 INFO sqlalchemy.engine.base.Engine SELECT count(*) AS count_1
FROM (SELECT winner.id AS winner_id, winner.category AS winner_category, winner.name AS winner_name, winner.nationality AS winner_nationality, winner.sex AS winner_sex, winner.year AS winner_year
FROM winner) AS anon_1
2018-10-24 17:18:05,367 INFO sqlalchemy.engine.base.Engine ()
2018-10-24 17:18:05,369 INFO sqlalchemy.engine.base.Engine SELECT winner.id AS winner_id, winner.category AS winner_category, winner.name AS winner_name, winner.nationality AS winner_nationality, winner.sex AS winner_sex, winner.year AS winner_year
FROM winner
WHERE winner.nationality != ?
2018-10-24 17:18:05,370 INFO sqlalchemy.engine.base.Engine ('A nation',)

[<winnerTable(name='B name',nationaliy ='B', year='2', sex='female'),
 <winnerTable(name='C name',nationaliy ='C', year='3', sex='male'),
 <winnerTable(name='B name',nationaliy ='B', year='2', sex='female'),
 <winnerTable(name='C name',nationaliy ='C', year='3', sex='male'),
 <winnerTable(name='B name',nationaliy ='B', year='2', sex='female'),
 <winnerTable(name='C name',nationaliy ='C', year='3', sex='male'),
 <winnerTable(name='B name',nationaliy ='B', year='2', sex='female'),
 <winnerTable(name='C name',nationaliy ='C', year='3', sex='male'),
 <winnerTable(name='B name',nationaliy ='B', year='2', sex='female'),
 <winnerTable(name='C name',nationaliy ='C', year='3', sex='male')]